{% extends 'base.html' %}
{% load static %}
{% block content %} 
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">welcome to my store</p>
        </div>
    </div>
</header>

<dev class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, facilis.
                </p>

            </div>
        </center>
    </div>
</dev>


{% endblock %}